/* .menuItem {
  text-align: end;
} */

.Notifications {
  border: dashed #E0354B;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 550px;
}

.Notifications > p {
  margin-left: 10px;
  margin-bottom: -5px;
}

[data-default] {
  color: blue;
}

[data-urgent] {
  color: red;
}



