
.Notifications {
  border: dashed #E0354B;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  position: relative;
}

.Notifications > p {
  margin-left: 10px;
  margin-bottom: -5px;
}

[data-default] {
  color: blue;
}

[data-urgent] {
  color: red;
}
 


