.Notifications {
  border: dashed #E0354B;
  padding: 0px 5px 15px;
}

.notif-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  /* background-color: bisque; */
}

.notif-header p {
  margin: 25px 0px 0px;
}

[data-priority="default"] {
  color: #0000ff;
}

[data-priority="urgent"] {
  color: #f50021;
}