.App-body {
  border-top: solid #E0354B;
  border-bottom: solid #E0354B;
  padding: 50px 0px 0px 80px;
  height: 40vh;
}

.App-body p {
  text-align: start;
}

form {
  text-align: start;
  display: flex;
}

input {
  margin: 0 1rem;

}

input:focus {
  border: none
}
