.Notifications {
  border: dashed #E0354B;
  padding: 10px 5px 35px;
  font-size: 1.2rem;
}

.notif-header {
  display: flex;
  justify-content: space-between;
}

.notif-list {
  margin: 0;
}

[data-priority="default"] {
  color: #0000ff;
}

[data-priority="urgent"] {
  color: #E0354B;
}
